.body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #fcfcfc, #f9f9f9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.IsLoading {
  text-align: center;
  padding: 1rem;
}

.ErrorMessage {
  text-align: center;
  color: red;
  padding: 1rem;
}

.ap_container {
  width: 70%;
  background-color: #ffffff;
  box-shadow: 0px 25px 40px #87878733;
  margin-bottom: 1rem;
  padding-bottom: 2rem;
}
.header {
  margin: auto;
  width: 90%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ap_table {
  width: 90%;
  border-collapse: collapse;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1rem;
}

td,
th {
  padding: 0.4rem;
  border: 1px solid black;
}

th {
  background-color: #ffc200;
}

.th_small {
  width: 10%;
}

.th_big {
  text-align: left;
}

.btn_delete {
  border: none;
  outline: none;
  padding: 10px;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: black;
  color: #ffce45;
  margin-left: 3rem;
  cursor: pointer;
}

button:hover {
  opacity: 0.5;
}
