.body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    to bottom right,
    var(--lightbackground1),
    var(--lightbackground2)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.IsLoading {
  text-align: center;
  padding: 1rem;
}

.ErrorMessage {
  text-align: center;
  color: red;
  padding: 1rem;
}

.ap_container {
  width: 70%;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0px 25px 40px var(--darkshade);
  margin-bottom: 1rem;
  padding-bottom: 2rem;
}
.header {
  margin: auto;
  width: 90%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ap_table {
  width: 90%;
  border-collapse: collapse;
  margin: 0 auto;
  text-align: left;
  margin: 1rem 1rem 1rem 3rem;
}

.th {
  padding-left: 1.5rem;
}

.th_id {
  background-color: var(--yellow);
}

.input {
  width: 100%;
  outline: none;
  border: none;
  cursor: text;
}

button {
  border-radius: 12px;
  border: none;
  outline: none;
  padding: 10px;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: var(--yellow);
  color: var(--black);
  margin-left: 3rem;
  cursor: pointer;
}

button:hover {
  opacity: 0.5;
}

.message {
  margin: 1.5rem 3rem 0 3rem;
  font-weight: bold;
  color: var(--orangered);
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.03em;
}
