/************ GOOGLE FONT ************/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/************ GLOBAL COLORS ************/
:root {
  --white: #fff;
  --lightbackground1: #fcfcfc;
  --lightbackground2: #f9f9f9;
  --lightmint: #d1fae5;
  --black: #000000;
  --lightblack: #0000000d;
  --darkgrey: #1d1d1b;
  --darkshade: #87878733;
  --lightgrey: #a4a4a4;
  --grey: #c2c2c2;
  --lightpink: #fecaca;
  --orangered: #ff4500;
  --firered: #e44c4c;
  --burgandyred: #991b1b;
  --yellow: #ffce45;
  --darkmint: #065f46;
}

/************ GLOBAL STYLES ************/
* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

body,
html {
  height: 100%;
  background-color: var(--white);
  color: var(--darkgrey);
}