.body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart_container {
  width: 70%;
  padding: 40px 0;
  background-color: var(--white);
  box-shadow: 0px 25px 40px var(--darkshade);
}
.header {
  margin: auto;
  width: 90%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.action {
  font-size: 14px;
  font-weight: 600;
  color: var(--orangered);
  cursor: pointer;
}
.summary {
  padding: 1rem;
  margin: 0 auto;
  width: 28%;
}
.total {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.totalprice {
  font-size: 20px;
  font-weight: 700;
}
.items {
  font-size: 14px;
  font-weight: 500;
  color: var(--grey);
  line-height: 10px;
  text-align: center;
}
.total_amount {
  font-size: 23px;
  font-weight: 700;
}
.button button {
  margin: 1rem auto;
  width: 100%;
  cursor: pointer;
}
.IsLoading {
  text-align: center;
  padding: 1rem;
}
.ErrorMessage {
  text-align: center;
  color: red;
  padding: 1rem;
}
