.header {
  font-size: 2.5rem;
  margin: 1rem auto;
}

h1 {
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.formContainer {
  width: 40vw;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 24px;
  border: 0.5px solid var(--lightgrey);
  padding: 24px;
  margin: 1rem auto;
}

.formCol {
  display: grid;
  grid-row-gap: 12px;
}

.formCol button {
  width: 100%;
  margin: 0 auto;
}

.formCol input {
  margin-bottom: 12px;
  padding: 10px;
  border: 0.5px solid var(--lightgrey);
}

.formCol label {
  font-weight: 700;
}

.formContainer p {
  padding: 10px 0;
  text-align: center;
  border: none;
  margin-top: 20px;
}

.success {
  background-color: var(--lightmint);
  color: var(--darkmint);
}

.error {
  text-align: center;
  background-color: var(--lightpink);
  color: var(--burgandyred);
}
