.hero_container {
  margin: auto;
  position: relative;
  width: 100vw !important;
  background-color: #f4f4f4;
  height: 800px;
  max-height: 800px;
  justify-content: space-around;
  overflow: hidden;
}

.cats {
  background-image: url("../assets/cat-hero.png");
  background-position: center center;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: green;
  width: 57.5%;
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
}
.cats button {
  position: absolute;
  top: 65%;
  left: 40%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  padding: 10px 30px;
}
.dogs button {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  padding: 10px 30px;
}
.dogs {
  background-image: url("../assets/dog-hero.jpg");
  background-position: center center;
  background-size: cover;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: lightblue;
  width: 57.5%;
  clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
}

@media only screen and (max-width: 1024px) {
  .hero_container {
    height: 480px;
  }
}

@media only screen and (max-width: 640px) {
  .hero_container {
    height: 320px;
  }
}
