.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBar {
  width: 100%;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchContainer ul {
  list-style: none;
  align-items: center;
  justify-content: center;
}

.searchBar input {
  padding: 6px;
  font-size: 17px;
  border: 0.5px solid var(--lightgrey);
}
.searchBar button {
  padding: 6px 10px;
  font-size: 17px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}
.searchBar button:hover {
  opacity: 0.5;
}

.searchContainer ul a li {
  color: var(--lightgrey);
}
.searchContainer ul a li:hover {
  color: var(--black);
}
